apiVersion: v1
kind: ConfigMap
metadata:
  name: rucio-config
data:
  rucio.cfg: |
    [common]
    logdir = /var/log/rucio/
    loglevel = {{ .Values.rucio.server.loglevel | default "DEBUG" }}

    [database]
    default = postgresql+psycopg://{{ .Values.rucio.server.db_user }}:{{ .Values.rucio.server.db_password }}@{{ .Values.rucio.server.db_host }}/{{ .Values.rucio.server.db_name }}

    [client]
    rucio_host = {{ .Values.rucio.server.host }}
    auth_host = {{ .Values.rucio.server.host }}
    auth_type = x509, userpass
    account = {{ .Values.client.config.account }}
    client_cert = /etc/grid-security/hostcert.pem
    client_key = /etc/grid-security/hostkey.pem
    ca_cert = /etc/grid-security/certificates/ca.pem

    [messaging-hermes]
    email_from = rucio@example.com

    [trace]
    tracedir = /var/log/rucio/trace
    
    [policy]
    permission = generic
    schema = generic
    lfn2pfn_algorithm_default = hash
    support = https://github.com/rucio/rucio/issues/

    [permission]
    default = generic
    schema = generic

    [oidc]
    idpsecrets = /opt/rucio/etc/idpsecrets.json
    admin_issuer = {{ .Values.oidcCredentials.adminIssuer }}
    expected_audience = rucio
    expected_scope = openid profile

    [conveyor]
    fts_servers = {{ .Values.rucio.server.fts_host }}
    allow_user_oidc_tokens = False
    
    # We use your local storage as the audience
    request_oidc_audience = https://xlzd-data.boulby.ac.uk
    
    # CRITICAL: We include 'fts:submit-transfer' because your IAM supports it 
    # and the CERN FTS requires it to accept the job.
    request_oidc_scope = fts:submit-transfer openid profile offline_access

    poller_oidc_support = True

    [reaper]
    oidc_account = root
    
    # We use your local storage as the audience
    oidc_audience = https://xlzd-data.boulby.ac.uk
    
    # We use the full suite of storage scopes + wlcg (since your IAM provides it)
    # The 'wlcg' scope helps with group mapping on the storage element.
    oidc_scope = openid profile storage.create:/ storage.modify:/ storage.read:/ wlcg offline_access